<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.viper2.municipioapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistroActivity" />
        <activity
            android:name=".HotelesActivityD"
            android:label="@string/title_activity_hoteles_d"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestActivityD"
            android:label="@string/title_activity_rest_d"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QhActivityD"
            android:label="@string/title_activity_qh_d"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivityD"
            android:label="@string/title_activity_main_d"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PerfilActivityD"
            android:label="@string/title_activity_perfil_d"
            android:theme="@style/AppTheme.NoActionBar">

    </activity>
        <activity
            android:name=".ListActivityD"
            android:label="@string/title_activity_list_d"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>